.sidebar{
    position: absolute;
    top: 205px;
    left: 0px;
    width: 220px;
    height: max-content;
    background: rgb(255, 255, 255);
    border-top-right-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
    z-index: 999;
    transition: .3s;
}
.s-header{
    width: 100%;
    height: 40px;
    color: white;
    background: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top-right-radius: 10px;
}
.s-header p{
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 1px;
    margin-right: 1rem;
}
.ham-menu{
    display: flex;
    flex-direction: column;
    margin-right: .5rem;
    cursor: pointer;
}
.ham-menu span{
    width: 18px;
    height: 2px;
    background: white;
}
.ham-menu span:not(:last-child){
    margin-bottom: 4px;
}
.s-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
}
.s-nav ol{
    width: -webkit-fill-available;
    margin-left: 1rem;
}
.s-nav h3{
    padding: 0.8rem 0;
    border-bottom: 1px solid gray;
}
.s-nav ul{
    width: -webkit-fill-available;
    margin-left: 3rem;
}
.s-nav ul li{
    color: rgba(0, 0, 0, 0.8);
    padding: 0.8rem 0;
    border-bottom: 1px solid gray;
}